@using CBP.Data
@using System.Linq
@model CompanyViewModel

@{
    // TODO: Try to use architectural tools
}
@using (Html.BeginForm(method: FormMethod.Post))
{
    <p style="display: grid; grid-template-columns: repeat(2, max-content); gap: .5rem;">
        <label>
            First Name
            <br />
            @Html.TextBoxFor(m => m.Name)
        </label>
        <label>
            Type
            <br />
            @Html.DropDownListFor(m => m.BusinessType, new SelectList(
                Enum.GetValues(typeof(BusinessType)).Cast<int>().ToDictionary(v => v, v => Enum.GetName(typeof(BusinessType), v)),
                "Key",
                "Value"
            ))
        </label>
    </p>
    <button type="submit">Submit</button>
}